<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
    <h3>
        <a  [routerLink]="['/products', productId]"
            [title]="product.name + ' details'">
                {{product.name}}
        </a>
    </h3>

    <p *ngIf="product.description">
        Description: {{product.description}}
    </p>

    <button (click)="share()">
        Share
    </button>

    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
</div>